@include font-face("proxima-nova", "../fonts/proxima-nova/proximanova_regular-webfont");
@include font-face("proxima-nova-semibold", "../fonts/proxima-nova/proximanova-semibold-webfont");
@include font-face("proxima-nova-bold", "../fonts/proxima-nova/proximanova-bold-webfont");

@include font-face("gotham", "../fonts/gotham-htf/gothamhtf-medium-webfont");
@import url('https://fonts.googleapis.com/css?family=Oswald|Inconsolata');

body {
  color: $endlessblue;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  padding: 0px 0px 20px 0px;
  margin: 0px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
  color: $sunbeam;
  text-decoration: none;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: $endlessblue;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

.title {
  color: $endlessblue;
}

h1 {
  font-family: "proxima-nova-semibold", sans-serif;
  font-size: rem(40px);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
  line-height: 1em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}

p {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 1.5em;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.lato {
  font-family: "Lato", sans-serif;
}

.times {
  font-family: "Times New Roman", Times, serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.highlighted {
  color: $sunbeam;
  font-weight: bold;
}
