// Primary Colors
$endlessblue: #06477d;
$sunbeam: #f1b600;

// Secondary Colors
$bluewarpaint-l: #1564a5;
$bluewarpaint-d: #0a5592;
$deepblue: #093c71;
$bahamablue: #3a96c9;
$solarflare: #e16f51;
$starglow: #ede5c3;

// Shades
$mist-l: #f9f9fa;
$mist-d: #f2f3f4;
$coldblonde: #e5e9ed;
$waterfall: #95a6b1;
$primer: #a3a7ac;
$wetprimer: #6e737a;
$summitgray-l: #293239;
$summitgray-d: #192128;

$darkstorms-l: #212a32;
$darkstorms-d: #1d262d;

/* BASE SIZES
---------------------------------- */
// _Astronomical
$scuti: em(2500);
$cygni: em(2300);
$canis-majoris: em(1920);
$betelgeuse: em(1740);

// _Desktop
$godzilla: em(1570);
$kaiju: em(1370);
$king-ghidorah: em(1200);
$gipsy-danger: em(1000);
$clover: em(960);

// _Mobile
$voltron: em(840);
$megatron: em(660);
$optimus-prime: em(540);
$xenomorph: em(420);

//  Breakpoints
$mobile-lg: new-breakpoint(max-width 770px);
$mobile-md: new-breakpoint(max-width 560px);
$mobile-sm: new-breakpoint(max-width 420px);

/* BOURBON NEAT BREAKPOINTS
---------------------------------- */
// _Astronomical
/*
    :: 2500px <    */
        $pinwheel: new-breakpoint(min-width $scuti); /*
    :: 2300px <    */
        $blackhole: new-breakpoint(min-width $cygni); /*
    :: 1920px < + 960px >    */
        $ursa-major: new-breakpoint(min-width $canis-majoris max-height $clover); /*
    :: 1920px <    */
        $andromeda: new-breakpoint(min-width $canis-majoris); /*
    :: 1740px < + 1110px <    */
        $milky-way: new-breakpoint(min-width $betelgeuse min-height $gipsy-danger+em(110));
 // _Desktop
 /*
    :: 1570px <    */
		$desktop-xlg: new-breakpoint(min-width $godzilla); /*
	:: 1570px < + 1020px <    */
		$desktop-xlg-wh: new-breakpoint(min-width $godzilla min-height $gipsy-danger+em(20)); /*
	:: 1370px <    */
		$desktop-lg: new-breakpoint(min-width $kaiju); /*
	:: 1370px >    */
		$desktop-lg-max: new-breakpoint(max-width $kaiju); /*
	:: 1370px < + 900px <    */
		$desktop-lg-wh: new-breakpoint(min-width $kaiju min-height $voltron+em(60)); /*
	:: 1260px > + 770px <    */
		$desktop-md-wh: new-breakpoint(max-width $king-ghidorah+em(60) min-height $megatron+em(110)); /*
	:: 1200px >    */
		$desktop-md: new-breakpoint(max-width $king-ghidorah); /*
	:: 1100px >    */
		$desktop-mds: new-breakpoint(max-width $king-ghidorah - em(100)); /*
	:: 1000px >    */
		$desktop-sm: new-breakpoint(max-width $gipsy-danger); /*
	:: 960px >    */
		$desktop-xsm: new-breakpoint(max-width $clover); /*
	:: 841px <    */
		$desktop-growing: new-breakpoint(min-width $voltron+em(1));
 // _Mobile
 /*
    :: 840px >    */
		$mobile-lg: new-breakpoint(max-width $voltron); /*
	:: 740px >    */
		$mobile-mlg: new-breakpoint(max-width $voltron - em(100)); /*
	:: 660px >    */
		$mobile-slg: new-breakpoint(max-width $megatron); /*
	:: 540px >    */
		$mobile-md: new-breakpoint(max-width $optimus-prime); /*
	:: 540px <    */
		$mobile-md-min: new-breakpoint(min-width $optimus-prime); /*
	:: 450px >    */
		$mobile-smd: new-breakpoint(max-width $xenomorph+em(30)); /*
	:: 420px >    */
		$mobile-sm: new-breakpoint(max-width $xenomorph); /*
	:: 375px >    */
		$mobile-xsm: new-breakpoint(max-width $xenomorph - em(45)); /*
	:: 375px <    */
		$mobile-xsm-min: new-breakpoint(max-width $xenomorph - em(45));
 // _Short
 /*
    :: 1110px >    */
		$short-xxlg: new-breakpoint(max-height $gipsy-danger+em(110)); /*
	:: 1020px >    */
		$short-xlg: new-breakpoint(max-height $gipsy-danger+em(20)); /*
	:: 900px >    */
		$short-lg: new-breakpoint(max-height $voltron+em(60)); /*
	:: 820px >    */
		$short-md: new-breakpoint(max-height $voltron - em(20)); /*
	:: 690px >    */
		$short-sm: new-breakpoint(max-height $megatron+em(30)); /*
	:: 600px >    */
		$short-xsm: new-breakpoint(max-height $megatron - em(60));
