.page-header {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.glitch {
	@include center-block;
	@include size(58px 4px);
	background: $endlessblue;
}

.glitch-m {
	@include center-block;
	@include size(33px 3px);
	background: $endlessblue;
}

.sunbeam {
	background: $sunbeam;
}

.bluewarpaint {
	background: $bluewarpaint-l;
}