.gh-logo {
	position: relative;
	display: inline-block;
	margin-top: -45px;
	margin-bottom: 10px;

	img {
		width: 225px;

		@include media($mobile-lg) {
			display: inline-block;
		}
	}

	@include media($mobile-lg) {
		display: block;
		text-align: center;
	}
}

.header_phone_link {
  	color:#06477d !important;
  	font-weight: normal;
	text-transform: uppercase;

	.header_phone {
		float: right;
		border: 2px solid #f1b600;
		padding: 10px;
		@include transition(all 0.4s);
		margin-top: -8px;

		&.mobile-only{
			display:none;
		}

		@include media($mobile-lg) {
			display: inline-block;
			float: none;
			margin-top: 0;
		}
	}

	@include media($mobile-xsm-min) {
		font-size: 1.35em;

		strong {
			font-weight: 700;
		 }

		 .mobile-only {
			max-width:200px !important;
		}
	}

	@include media($mobile-slg) {

		.mobile-only {
			display: inline-block !important;
			max-width: 150px;
			text-align: center;
		}

  		.desktop-only {
			display: none !important;
	  	}
	}

	@include media($mobile-lg) {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
} //.header_phone_link

.gh-split {
	// Full viewport
	// @include size(100vw calc(100vh - 143px));

	// Full viewport including the filters
	@include size(100vw calc(100vh - 329px));
	max-width: 100%;
	min-height: 530px;
	background: $endlessblue;

	.hero-intro{
		position: relative;
		@include span-columns(6, block-collapse);
		height: 100%;
		background: #ffffff;
		// @include background(images, birthdayten, jpg, no-repeat, top, center, cover);
		text-align: center;
		color: #212a6b;
		// padding: 30px;
		overflow: hidden;

		.content {
			position: relative;
			// @include vertical-align;
			padding: 0 30px;
			z-index: 2;

			.topicon {
				@include size(85px);
				margin: 0 auto;
			}

			.highlight {
				color: #e42b54;
			}

			h1 {
				font-family: 'Oswald', sans-serif;
				color: #f89f59;
				font-size: rem(90);

				@include media($short-lg) {
					font-size: rem(60);
				}

				@include media($desktop-mds) {
					font-size: rem(60);
				}

				@include media($mobile-sm) {
					font-size: rem(34);
				}
			}

			img {
				width: 80%;
				margin: 0 auto;
				padding-bottom: 20px;

				@include media($short-xlg) {
					width: 65%;
				}

				@include media($short-lg) {
					width: 50%;
				}
			}

			h2 {
				font-family: 'Oswald', sans-serif;
				color: #212a6b;
				font-size: rem(24);
				line-height: rem(36);
				letter-spacing: 1px;
				text-transform: uppercase;

				@include media($short-lg) {
					font-size: rem(22);
				}

				@include media($mobile-sm) {
					font-size: rem(25);
				}
			}

			h3 {
				font-family: 'Oswald', sans-serif;
				color: #f89f59;
				font-size: rem(28);
				line-height: rem(34);
				text-transform: uppercase;

				@include media($mobile-sm) {
					font-size: rem(25);
				}
			}

			p {
				font-family: 'gotham', sans-serif;
				font-size: rem(20);
				line-height: rem(30);
				padding: 0 10%;

				.small {
					display: block;
					font-size: rem(18);
				}

				@include media($short-lg) {
					font-size: rem(18);
				}

				@include media($mobile-lg) {
					font-size: rem(18);

					.small {
						font-size: 1rem;
					}
				}

				@include media($mobile-sm) {
					font-size: rem(15);
					line-height: rem(24);

					.small {
						font-size: rem(13);
					}
				}
			}

			.bottomicon {
				@include size(47px 42px);
				margin: 40px auto 0 auto;
			}
		}

		.cake {
			@include position(absolute, null 0 0 0);
			width: 80%;
			max-width: 760px;
			margin: 0 auto;

			@include media($short-xlg) {
				width: 65%;
			}

			@include media($short-lg) {
				width: 50%;
			}
		}

		canvas {
			@include size(100%);
			position: absolute;
			top: 150px;
			left: 0;
			z-index: 0;

			@include media($desktop-sm) {
				opacity: 0.3;
			}

			@include media($mobile-lg) {
				top: 210px;
			}

			@include media($mobile-slg) {
				top: 240px;
			}
		}

		@include media($desktop-sm) {
			@include span-columns(12);
			height: calc(100vh - 143px);
			min-height: 500px;
		}

		@include media($mobile-lg) {
			height: calc(100vh - 207px);
		}

		@include media($mobile-slg) {
			height: calc(100vh - 231px);
		}
	}

	.gh-map {
		@include span-columns(6, block-collapse);
		@include omega;
		height: 100%;
		background: $mist-d;
		position: relative;
		z-index: 3;

		svg {
			@include size(100%);

			*[id^="tt-"] {
				display: none;
			}

			*[id^="btn-"] #dot {
				fill: $bluewarpaint-l;
				cursor: pointer;
				@include transition(all 0.3s);

				&:hover {
					fill: $sunbeam;
				}
			}
		}

		@include media($desktop-sm) {
			@include span-columns(12);
			height: auto;

			&:last-child {
				@include span-columns(12);
			}
		}
	}

	@include media($desktop-sm) {
		@include size (100%);
		min-height: 400px;
		display: inline-block;
	}
}

.page-header {
	text-align: center;
	margin-top: 30px;

	img {
		display: inline-block;
		@include size(72% auto);

		@include media($mobile-lg) {
			@include size(80% auto);
		}
	}

	a {
		display: inline-block;
		margin-top: 20px;
		padding: 14px 35px;
		font-size: rem(14);
		letter-spacing: em(3);
		color: #c7b799;
		border: 2px #c7b799 solid;
		text-align: center;
		text-transform: uppercase;
		@include transition(all 0.3s ease-in-out);

		&:hover {
			color: #7a8b68;
			border: 2px #7a8b68 solid;
		}
	}
}


.search-hero {
	display: block;
	@include size(100% 360px);
	background: url('../images/autumn-walk.jpg') center center no-repeat;
	background-size: cover;
	margin: 25px 0 0 0;
	@include border-top-radius(6px);

	.overlay {
		@include background(linear-gradient(rgba(#f2d48b, 0.45), rgba(#df6e56, 0.45)) left repeat);
		@include size(100%);
		@include border-top-radius(6px);
	}
}

.filter-search {
	@include size(100%);
	background: $summitgray-d;
	margin-bottom: 25px;
	position: relative;

	.title {
		@include size(100% 42px);
		background: $summitgray-d;
		font-family: "proxima-nova-semibold", sans-serif;
		font-size: rem(20);
		letter-spacing: em(2);
		margin: 0 auto;
		padding-top: 9px;
		text-align: center;
		color: $waterfall;
		text-transform: uppercase;
	}

	.filters {
		@include size(100% auto);
		background: $summitgray-l;
		border-spacing: 0 !important;
		@include outer-container(100%);

		article {
			@include span-columns(3 of 12, block-collapse);
			@include omega(4n);

			&:nth-of-type(4n) {
				width: 23.23176%
			}

			.dropy {
				font-family: "proxima-nova-semibold", sans-serif;
				padding: 0 12px;
				position: relative;
				width: 100%;
				height: 72px;
				margin: 0 auto;
				background: $summitgray-l;
				border-right: 2px solid $darkstorms-l;
				@include transition(all 0.3s ease-in-out);

				&:hover {
					background: lighten($summitgray-l, 3%);
				}

				.dropy_title {
					position: relative;
					display: block;
					height: 72px;
					width: 100%;
					text-decoration: none;
					font-size: rem(18);
					color: $coldblonde;
					cursor: pointer;

					.title-container {
						@include vertical-align;

						span {
							text-align: left;
							padding: 0;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}

						.arrow {
							display: inline-block;
							position: absolute;
							right: 0;
							margin-top: 5px;
							@include size(13px 8px);
							background: url('../images/arrow.png') center center no-repeat;
							background-size: 13px 8px;
						}
					}

					@include media($desktop-sm) {
						font-size: rem(16);
					}

					@include media($mobile-lg) {
						font-size: rem(18);
					}

				} // .dropy_title

				.dropy_content{
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					z-index: 3;

					ul {
						z-index: 1;
						overflow: hidden;
						position: absolute;
						left: 0;
						right: 0;
						width: 100%;
						max-height: 0;
						opacity: 0;
						@include transition(opacity 0.3s ease-in-out, max-height 0.5s ease-in-out);

						list-style: none;
						background: $endlessblue;
						box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

						li {
							a{
								display: block;
								padding: 8px 12px;
								font-size: rem(16);
								font-weight: normal;
								color: $coldblonde;
								text-decoration: none;
								cursor: pointer;
								@include transition(background-color 0.3s, color 0.3s);

								&:hover{
									color: #ffffff;
									background-color: #0a5592;
								}
							} // a

							.dropy_header {
								position: relative;
								display: block;
								height: 72px;
								width: 100%;
								text-decoration: none;
								font-size: rem(18);
								color: $coldblonde;

								.header-container {
									@include vertical-align;

									span {
										text-align: left;
										padding: 0;
										white-space: nowrap;
										text-overflow: ellipsis;
										overflow: hidden;
									}

									.arrow {
										display: inline-block;
										position: absolute;
										right: 0;
										margin-top: 5px;
										@include size(13px 8px);
										background: url('../images/arrow.png') center center no-repeat;
										background-size: 13px 8px;
										@include transform(rotate(180deg));
									}
								}

								@include media($desktop-sm) {
									font-size: rem(16);
								}

								@include media($mobile-lg) {
									font-size: rem(18);
								}

							} // .dropy-header

							.selected {
								color: $sunbeam;

								&:hover{
									color: $sunbeam;
									background-color: #0a5592;
								}
							} // .selected
						} // li
					} // ul

				} // .dropy_content

			} // .dropy

			// Make the second row of filters darker
			&:nth-of-type(n+5):nth-child(-n+8) {
				.dropy {
					background: $darkstorms-l;

					@include media($mobile-lg) {
						background: $summitgray-l;
					}
				}
			}
			&:nth-of-type(n+5):nth-child(-n+7) {
				.dropy {
					border-right: 2px solid $darkstorms-d;

					@include media($mobile-lg) {
						border-right: 0;
					}
				}
			}

			.open{
				.dropy_content ul{
					max-height: 60rem;
					// overflow-y: scroll;
					opacity: 1;
					z-index: 3;
				}
			} // .open

			&:nth-of-type(4n) {
				@include omega;

				.dropy {
					border-right: 0;
				}
			}

			@include media($mobile-lg) {
				@include span-columns(12);

				.dropy {
					border-right: 0;
				}

				&:nth-of-type(4n) {
					@include span-columns(12);
					@include omega;
				}
			}
		} // article
	}
}

.home-results {
	margin-bottom: 30px;
	min-height: 500px;

	.title {
		font-family: "proxima-nova-semibold", sans-serif;
		font-size: rem(20);
		letter-spacing: em(1);
		text-align: center;
		color: $primer;
		text-transform: uppercase;
		padding: 16px 0;
		margin-bottom: 26px;

		span {
			color: $wetprimer;
		}
	}

	.home-block {
		height: 500px;
		margin-bottom: 34px;
		background: $mist-l;
		@include row;
		display:none;

		.image {
			height: 100%;
			background: center center no-repeat;
			background-size: cover;
			position: relative;
			@include span-columns(5.5 of 12, block-collapse);

			@include media($desktop-sm) {
				@include span-columns(12);
			}

			@include media($mobile-smd) {
				height: 300px;
			}

			@include media($mobile-sm) {
				height: 200px;
			}

			.fancy-image {
				display: block;
				@include size(100%);
				@include transition(background 0.3s ease-in-out);

				&:hover {
					background: rgba(#eab467, 0.5);
					// @include background(linear-gradient(rgba(#f2d48b, 0.45), rgba(#df6e56, 0.45)) left repeat);
				}
			}

			.virtual-tour {
				position: absolute;
				bottom: 0;
				display: flex;
				align-items: center;
				@include size(100% 56px);
				background: $summitgray-l;
				padding: 0 20px;
				@include transition(all 0.5s);

				.home {
					display: inline-block;
					@include size(44px 30px);
					margin-right: 14px;
				}

				span {
					display: inline-block;
					text-transform: uppercase;
					letter-spacing: 2px;
					@include transition(color 0.5s);
				}

				.rt-arrow {
					float: right;
					@include size(15px 24px);
					margin-left: auto;
				}

				&:hover {
					background: lighten($summitgray-l, 5%);

					span {
						color: $solarflare;
					}
				}
			}
		}

		.content {
			height: 100%;
			background: $mist-d;
			@include span-columns(6.5 of 12, block-collapse);
			@include omega;

			table {
				@include size(100%);
				border-collapse: collapse;

				tr.block-row {
					height: 25%;
					font-family: "proxima-nova-semibold", sans-serif;

					&:nth-of-type(1) {
						font-size: rem(18);
						// letter-spacing: em(1.6);
						text-transform: uppercase;
						color: $deepblue;

						.stories {
							display: block;
							// font-family: 'Inconsolata', monospace;
							font-size: rem(16);
							letter-spacing: em(0.7);
							color: $wetprimer;
							text-transform: none;
						}

						td:nth-of-type(2) {
							text-align: right;

							.was-price {
								position: relative;
								display: inline-block;
								z-index: 1;
								text-transform: none;
								color: $wetprimer;
								font-size: rem(16);
								margin-right: rem(20);

								&:after {
									content: '';
									display: block;
									background: #caccce;
									@include size(115% 2px);
									@include position(absolute, 8px -8px null null);
									z-index: -1;

									@include media($mobile-lg) {
										top: 7px;
									}
								}

								@include media($mobile-lg) {
									font-size: rem(15);
								}

								@include media($mobile-md) {
									margin-right: 0;
									font-size: rem(14);
									letter-spacing: em(0.6);
								}
							}

							.results-price {
								position: relative;
								display: inline-block;

								@include media($mobile-md) {
									display: block;
								}
							}
						}

						@include media($mobile-lg) {
							font-size: rem(17);
						}

						@include media($mobile-md) {
							font-size: rem(15);
							letter-spacing: em(0.6);
						}

					}

					&:nth-of-type(2) {
						background: $mist-l;
						font-size: rem(20);
						letter-spacing: em(1);
						text-align: center;

						td {
							width: 25%;
							border-right: 2px solid #eaebec;

							.garage-icn {
								display: inline-block;
								position: relative;
								margin-right: 15px;
								@include size(44px 20px);
								background: url('../images/garage-icn.svg') center center no-repeat;

								@include media($mobile-lg) {
									margin-right: 8px;
									@include size(33px 15px);
								}
							}

							.bed-icn {
								display: inline-block;
								position: relative;
								margin-right: 15px;
								@include size(37px 24px);
								background: url('../images/bed-icn.svg') center center no-repeat;

								@include media($mobile-lg) {
									margin-right: 8px;
									@include size(28px 18px);
								}
							}

							.bath-icn {
								display: inline-block;
								position: relative;
								margin-right: 15px;
								@include size(30px 25px);
								background: url('../images/bath-icn.svg') center center no-repeat;

								@include media($mobile-lg) {
									margin-right: 8px;
									@include size(23px 19px);
								}
							}

							&:last-of-type {
								border-right: 0;
							}
						}

						@include media($mobile-lg) {
							font-size: rem(16);
						}

						@include media($mobile-sm) {
							font-size: rem(14);
						}
					} // nth-of-type(2)

					&:nth-of-type(3) {

						td:first-of-type {
							font-family: 'Inconsolata', monospace;
							font-size: rem(16);
							color: #495660;
							padding-left: 15px;

							span {
								display: block;
								line-height: rem(22);
								padding-left: 30px;
							}

							a {
								font-weight: normal;
								color: #495660;
							}

							.pin-icn {
								display: inline-block;
								position: absolute;
								margin-top: 10px;
								@include size(17px 24px);
								background: url('../images/pin-icn.png') center center no-repeat;
								background-size: 17px 24px;

								@include media($mobile-md) {
									margin-right: 8px;
								}
							}

							@include media($mobile-md) {
								font-size: rem(14);
							}

							@include media($mobile-sm) {
								span {
									line-height: 1rem;
									font-size: rem(13);
									letter-spacing: 0;
								}
							}
						}

						td:last-of-type {
							text-align: right;

							a {
								display: block;
								padding: 14px;
								font-size: rem(14);
								letter-spacing: em(0.2);
								color: $sunbeam;
								background: $endlessblue;
								border: 2px $endlessblue solid;
								text-align: center;
								text-transform: uppercase;
								cursor: pointer;
								@include transition(all 0.3s ease-in-out);

								&:hover {
									color: $bluewarpaint-d;
									background: none;
									border: 2px $bluewarpaint-l solid;
								}

								@include media($mobile-lg) {
									padding: 10px;
									letter-spacing: em(1.2);
								}

								@include media($mobile-md) {
									font-size: rem(12);
									padding: 6px;
									letter-spacing: em(0.6);
								}

								@include media($mobile-sm) {
									margin: 15px 0;
								}

							}
						}
					} // nth-of-type(3)

					&:nth-of-type(4) {
						font-family: 'proxima-nova';
						font-size: rem(15);

						p {
							line-height: rem(20);
						}

						@include media($mobile-lg) {
							font-size: rem(13);
						}

						@include media($mobile-sm) {
							p {
								line-height: 1rem;
								letter-spacing: 0;
							}
						}
					}

					td {
						padding: 0 16px;
					}
				}
			}

			@include media($desktop-sm) {
				@include span-columns(12);
				width: 100% !important;
				margin-bottom: 40px;
			}

			@include media($mobile-sm) {
				height: 400px;
			}
		} // .content


		@include media($mobile-lg) {
			height: 470px;
		}

		@include media($mobile-mlg) {
			background: #ffffff;
		}

		@include media($mobile-smd) {
			height: 520px;
		}

		@include media($mobile-sm) {
			height: auto;
		}


		&.no-description {
			height: 310px;

			@include media($mobile-lg) {
	            margin-right: 8px;
	            height: 250px;
	        }
		}
	} // .home-block

	.link {
		padding: 40px 0 30px 0;
		text-align: center;

		a.load-more {
			display: inline-block;
			// display: none;
			padding: 14px 28px;
			font-size: rem(14);
			letter-spacing: em(3);
			color: $bluewarpaint-l;
			border: 2px $sunbeam solid;
			text-align: center;
			text-transform: uppercase;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				padding: 14px 45px;
				color: $solarflare;
				border: 2px $solarflare solid;
			}
		}

		a.our-site {
			display: block;
			margin-top: 20px;
			font-family: "proxima-nova", sans-serif;
			color: $wetprimer;
			font-size: rem(14);
			font-weight: 200;
			letter-spacing: em(2);
		}
	}
} // .home-results
