@include media($desktop-mds) {
	.container {
		padding: 0px 16px;
	 }
}

@include media($desktop-sm) {
	.container {
		margin: 0px 16px;
		padding: 0;
	 }
}

@media (max-width: 985px) {
  #connect-form {
	float: none;
	clear: both;
  }
  #lets-connect {
	float: none;
	clear: both;
	margin: 0 auto;
  }
  #sign-up .form {
	width: 100%;
	margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .cx5-8, .cx3-8 {
	width: 100%;
	float: none;
	margin: 0px;
  }
  .inside-page.row {
	.cx3, .cx2, .cx5-8, .cx3-8 {
	  width: 100%;
	  float: none;
	  margin: 0px;
	}
  }
  .frm_forms {
	width: 100%;
	max-width: 800px !important;
  }
  .about-us .column {
	float: none;
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
	img {
	  width: 100%;
	  max-width: none;
	}
	.block {
	  min-height: inherit;
	}
  }
}

@media (max-width: 875px) {
  #about-us .floatright {
	float: none;
	margin: 0 auto !important;
	img {
	  margin: 0 auto;
	  margin-bottom: 20px !important;
	}
  }
}

@media (max-width: 639px) {
  .cx4 {
	float: none;
	width: 100%;
  }
  .logo {
	float: none !important;
	a {
	  display: block;
	  margin: 0 auto;
	  width: 147px;
	}
  }
  #main-menu {
	float: none !important;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	padding-left: 60px;
	min-height: 30px;
	.responsive-button {
	  display: block;
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  cursor: pointer;
	  span {
		position: absolute;
		top: 5px;
		left: 40px;
	  }
	}
  }
  #header .menu ul {
	li {
	  ul {
		float: none !important;
		display: block;
		position: relative;
		top: auto !important;
		left: auto !important;
		width: auto !important;
		background: none !important;
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		border-radius: 0px !important;
		border: 0px;
		box-shadow: 0px 0px 0px !important;
		padding: 0px !important;
		li {
		  border-top: 0px;
		  text-align: left;
		  padding: 0px;
		  margin: 0px;
		}
	  }
	  padding: 0px;
	  margin: 0px;
	}
	> li {
	  margin-top: 10px;
	}
	.menu-item-has-children {
	  background: none;
	}
  }
  #menu-main-navigation {
	float: none !important;
	display: none;
	padding-top: 6px !important;
	.menu-item {
	  float: none;
	  display: block;
	  visibility: visible;
	}
  }
  #header {
	.menu ul li {
	  float: none;
	}
	.sub-menu {
	  margin: 10px !important;
	  li {
		margin: 10px !important;
		margin-top: 10px;
	  }
	}
  }
  .inside-page {
	padding-top: 10px;
  }
  #footer {
	.logo {
	  position: relative;
	}
	.footer-links {
	  margin-right: 0px;
	}
	.disclaimer {
	  padding-right: 0px;
	}
	.social-icons ul li {
	  a {
		width: auto;
	  }
	  float: left;
	}
  }
}

@media (max-width: 560px) {
  .landing-left {
	float: none;
  }
  .landing-form {
	float: none;
	width: 100%;
	margin-top: 0px;
  }
}

@media (max-width: 574px) {
  #form_connect_homepage {
	.frm_submit {
	  margin-top: 2%;
	  clear: both !important;
	}
	.form_field {}
  }
}

@media (max-width: 560px) {
  .home .cx2 {
	width: 46%;
	margin: 2% !important;
	float: left !important;
  }
  #footer {
	.logo {
	  position: relative;
	}
	.footer-links {
	  margin-right: 0px;
	}
	.disclaimer {
	  padding-right: 0px;
	}
	.social-icons ul li {
	  a {
		width: auto;
	  }
	  float: left;
	}
  }
}

@media (max-width: 485px) {
  .single .iframe-container {
	width: 100%;
	float: none;
  }
  .community-logo {
	float: none;
	width: 100%;
	margin: 20px 0px;
	img {
	  margin: 0 auto;
	}
  }
}

@media (max-width: 476px) {
  #lets-connect .envelope {
	display: none;
  }
}

@media (max-width: 425px) {
  .frm_submit {
	float: none;
	margin-top: 20px;
  }
}
