.loaderOverlay {
  background:#ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;

  .loader {
    height: 32px;
    width: 32px;
    -webkit-animation: loader-1-1 4.8s linear infinite;
    animation: loader-1-1 4.8s linear infinite;
    span {
      display: block;
      position: absolute;
      height: 32px;
      width: 32px;
      clip: rect(0, 32px, 32px, 16px);
      -webkit-animation: loader-1-2 1.2s linear infinite;
      animation: loader-1-2 1.2s linear infinite;
      &::after {
        content: "";
        position: absolute;
        height: 32px;
        width: 32px;
        clip: rect(0, 32px, 32px, 16px);
        border: 3px solid $endlessblue;
        border-radius: 50%;
        -webkit-animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      }
    }
  }

  @-webkit-keyframes loader-1-1 {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }


  @keyframes loader-1-1 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  @-webkit-keyframes loader-1-2 {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(220deg);
    }
  }


  @keyframes loader-1-2 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(220deg);
    }
  }


  @-webkit-keyframes loader-1-3 {
    0% {
      -webkit-transform: rotate(-140deg);
    }

    50% {
      -webkit-transform: rotate(-160deg);
    }

    100% {
      -webkit-transform: rotate(140deg);
    }
  }


  @keyframes loader-1-3 {
    0% {
      transform: rotate(-140deg);
    }

    50% {
      transform: rotate(-160deg);
    }

    100% {
      transform: rotate(140deg);
    }
  }

  .center {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    .header {
      text-align: center;
      position: absolute;
      top: 10%;
      left: 0;
      bottom: auto;
      right: 0;
      margin: auto;
      letter-spacing: 0.15em;
      z-index: 1;
      h1 {
        display: inline-block;
        height: 1em;
        color: #FFF;
        font-size: 4vh;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 1;
      }
      p {
        margin-top: 10px;
        color: #FFF;
        font-size: 1.3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        letter-spacing: 0.065em;
        opacity: .5;
        a {
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }

  .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    clear: both;
    li {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      flex: 1 1 auto;
      position: relative;
      display: block;
      width: calc(100% / 3);
      height: calc(100vh / 4);
    }
  }

}

.container-full {
	padding: 0 2%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  border: 0px;
  display: block;
}

.home-plans {
  margin-top: 2%;
}

#social-icons {
  background: $endlessblue;
  color: #fff;
  height: 38px;
  ul {
    list-style: none;
    float: right;
    display: block;
    margin: 0px;
    padding: 0px;
    padding-top: 7px;
  }
}

.social-icons ul {
  list-style: none;
  float: right;
  display: block;
  margin: 0px;
  padding: 0px;
  padding-top: 7px;
}

#social-icons ul li, .social-icons ul li {
  float: left;
  margin-left: 4px;
}


.container {
  max-width: 996px;
  margin: 0 auto;
  .row:first-child {
    padding-top: 0px;
  }
}

.inside-page {
  padding-top: 70px;
}

.iframe-container {
  border: 1px solid $endlessblue;
  padding: 10px;
  margin-right: 20px;
  width: 100%;
  float: left;
}

.home .iframe-container {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.gray {
  color: $primer;
}

.single-subtitle {
  color: $primer;
  font-size: .850em;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      float: left;
      margin-left: 2px;
    }
  }
}

.bold {
  font-weight: bold;
}

.single .contents .title {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  display: block;
}

.c {
  width: 10.74297%;
  margin-left: 2.00803%;
  float: left;
  img {
    max-width: 100%;
  }
}

.row {
  .c:first-child {
    margin-left: 0px;
  }
  padding-bottom: 20px;
  &:first-child {
    padding-top: 20px;
  }
}

.cx2 {
  width: 23.49397%;
}

.cx3 {
  width: 74.49799%;
}

.cx5-8 {
  width: 61.74699%;
}

.cx3-8 {
  width: 36.24498%;
}

.cx4 {
  width: 48.99598%;
}

.cx8 {
  width: 100%;
  margin-left: 0px;
}

.more-info-block {
  background: #fcfdff;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfdff), to(#c4c5c5));
  background: -webkit-linear-gradient(#fcfdff, #c4c5c5);
  background: -moz-linear-gradient(#fcfdff, #c4c5c5);
  background: -ms-linear-gradient(#fcfdff, #c4c5c5);
  background: -o-linear-gradient(#fcfdff, #c4c5c5);
  background: linear-gradient(#fcfdff, #c4c5c5);
  padding: 20px;
}

.contact-us {
  background: url(../images/xcontact-us-bg.png.pagespeed.ic.38FxAADS-5.png) top left;
  padding: 20px;
  margin-bottom: 20px;
}

.h1bar {
  max-width: 308px;
  border-top: 2px solid $endlessblue;
  overflow: hidden;
}

.contact-us-block {
  background: $coldblonde;
  padding: 20px;
  span {
    font-size: 1.1em;
  }
}

.pink {
  color: #906;
}

.slideshow {
  margin-bottom: 20px;
}

.single-cta {
  margin-top: 20px;
  border-top: 1px solid #000;
  padding-bottom: 20px;
  height: 1px;
  overflow: hidden;
}

.slideshow_container .slideshow_title {
  display: none;
}

#additional-home-plans {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    padding-top: 20px;
    &:first-child {
      padding-top: 0px;
    }
  }
  .thumbnail {
    padding: 5px;
    border: 1px solid $primer;
    margin-top: 10px;
    img {
      display: block;
    }
  }
}

#hey-there-banner {
  background: url(../images/xhey-there-banner.jpg.pagespeed.ic.J9PSF6X3C9.webp) top left repeat-x;
  color: $endlessblue;
  height: 38px;
  padding: 5px 10px 0px 10px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  .playfair {
    font-size: 1.250em;
    text-transform: uppercase;
  }
  .lato {
    font-size: .850em;
    text-transform: uppercase;
  }
}

#find-new-homes {
  height: 38px;
  padding: 8px 10px 0px 10px;
  font-weight: bold;
  font-size: 14px;
  .playfair {
    font-size: 1.250em;
    text-transform: uppercase;
  }
  .lato {
    font-size: .850em;
    text-transform: uppercase;
    color: $primer;
  }
}



.page-id-28 h1, .page-id-30 h1 {
  font-size: 3.000em;
  font-weight: normal;
}

.page-id-28 h1 span, .page-id-30 h1 span {
  font-size: 0.75em;
}

#frm_field_107_container .frm_primary_label {
  display: none;
  visibility: hidden;
}

fieldset label {
  font-size: inherit !important;
  margin-bottom: 5px !important;
}

.frm_checkbox label {
  cursor: pointer !important;
}

.about-us {
  margin-top: 20px;
  .column {
    width: 31.99599%;
    margin-left: 2.00803%;
    float: left;
    h3 {
      font-size: 1em;
    }
    .block {
      background: $coldblonde;
      padding: 20px;
      margin-top: 10px;
      min-height: 340px;
    }
    &:first-child {
      margin-left: 0px;
    }
  }
}

.slideshow-slideright, .slideshow-slideleft {
  background-color: #fff !important;
}

.frm_message {
  background: none !important;
  color: inherit !important;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.frm_error_style {
  background: none !important;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.home .playfair {
  text-transform: uppercase;
}

#slideshow-wrappergallery1 {
  border: 0px !important;
}

#cpt_info_box {
  display: none;
}

#slideshow-wrappergallery3 {
  border: 0px !important;
}

#thumbnailsgallery3, .imgnav {
  display: none;
}

#slideshow-wrappergallery3 .imgnav {
  display: block;
}

#fullsizegallery3 {
  max-height: 445px;
}

.responsive-button {
  display: none;
}

.cta-icons {
  margin-bottom: 20px;
  a {
    float: left;
    display: block;
    &:first-child {
      margin-right: 20px;
    }
  }
}

.lc-block {
  display: block;
  padding: 7px 0px 0px 10px;
}

#bptch-block {
  text-align: center;
  margin-top: 15px;
  div {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 5px;
    overflow: hidden;
    margin-bottom: 35px;
  }
  img {
    margin: 0 auto;
    margin-top: 20px;
  }
}

.more-info-block .head {
  position: relative;
  margin-bottom: 28px;
  height: 7px;
  top: 8px;
}

.top-left {
  width: 40%;
  padding-right: 10px;
  position: relative;
  height: inherit;
}

.top-right {
  width: 40%;
  padding-left: 10px;
  position: relative;
  height: inherit;
}

.top-left div, .top-right div {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 5px;
  overflow: hidden;
  bottom: 0px;
  position: relative;
}

.top-center {
  width: 20%;
  text-align: center;
  img {
    width: 100%;
    max-width: 45px;
    height: inherit;
    position: relative;
    bottom: 16px;
    display: inline-block;
  }
}

.with_frm_style .frm_submit {
  clear: none !important;
}

.slideshow .slideshow-info-content {
  color: #000 !important;
}

.about-us h2 {
  text-transform: uppercase;
}

.iframe-container {
  min-height: 300px;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 300px;
}

#slideshow-wrappergallery3 .imgnav {
  width: 10% !important;
  min-width: 48px;
}

#equal-housing-logo {
  margin-right: 20px;
  margin-bottom: 10px;
}

.landing-left {
  width: 70%;
  float: left;
}

.landing-form {
  width: 29%;
  margin-bottom: 30px;
  float: right;
}

.inside-page {
  padding-top: 10px;
}

.pdf-modal {
  position: fixed;
  left: -5000px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100000;
  iframe {
    width: 100%;
    height: 100%;
  }
}

#print-pdf, #close-pdf {
  float: right;
  padding: 10px;
}

#open-pdf {
  cursor: pointer;
}

ul, dl {
  @include vendor-prefix(margin-before, 0);
  @include vendor-prefix(margin-after, 0);
  @include vendor-prefix(padding-start, 0);
}

dd {
  @include vendor-prefix(margin-start, 0);
}
