#footer {
    color: #052c61;
    a {
        color: #052c61;
    }
    .breaker {
        background: #1c3d75;
        height: 35px;
    }
    .container {
        position: relative;
        padding-top: 20px;
    }
    .disclaimer {
        font-size: .750em;
        padding-right: 200px;
    }
    .logo {
        float: right;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .footer-links {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-right: 200px;
        float: left;
        display: block;
        font-size: 0.875em;
        li {
            float: left;
            padding-right: 20px;
        }
    }
}

.blu-footer {
    background: $endlessblue;
    color: #ffffff !important;
    padding-bottom: 20px;
    margin-bottom: -20px;

    a {
        color: $sunbeam !important;
    }
}