input {
  outline: 0px !important;
  &[type="text"], &[type="email"], &[type="number"], &[type="tel"], &[type="password"] {
    font-family: "Lato", sans-serif !important;
    color: #939393 !important;
    border: 1px solid #939393 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    padding: 4px 8px !important;
    width: 120px !important;
    font-size: 1em !important;
    width: 100% !important;
    box-sizing: border-box !important;
  }
}

fieldset {
	border: none;
	padding: 0;
	text-align: left;
}

textarea {
  font-family: "Lato", sans-serif !important;
  color: #939393 !important;
  border: 1px solid #939393 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  padding: 4px 8px !important;
  width: 120px !important;
  font-size: 1em !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

input {
  &[type="submit"], &[type="button"] {
    font-family: "Lato", sans-serif !important;
    background: #906 !important;
    color: #fff !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    padding: 7px 15px !important;
    font-size: 1em !important;
    font-weight: normal !important;
    border: 0px !important;
    cursor: pointer !important;
    border-width: 0px !important;
    box-shadow: 0px 0px 0px !important;
    line-height: 1em !important;
  }
}

.button {
  font-family: "Lato", sans-serif !important;
  background: #906 !important;
  color: #fff !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  padding: 7px 15px !important;
  font-size: 1em !important;
  font-weight: normal !important;
  border: 0px !important;
  cursor: pointer !important;
  border-width: 0px !important;
  box-shadow: 0px 0px 0px !important;
  line-height: 1em !important;
}

#sign-up {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 0px;
  a {
    color: #906;
    text-transform: uppercase;
  }
  .form {
    padding: 12px 0px 0px 0px;
    height: 37px;
    width: 60%;
  }
  .frm_forms {
    float: right;
    width: 100%;
  }
  .form-field {
    float: left;
    margin-bottom: 0px;
    max-width: 160px;
    input {
      &[type="text"], &[type="email"] {
        width: 90% !important;
      }
    }
  }
  .frm_form_fields, .frm_submit {
  	margin-top: -4px;
    float: left;
  }
  .with_frm_style .frm_form_field {
    clear: none;
    width: 33%;
  }
}

#connect-form form {
  float: right;
}

%clearfix{
  *zoom: 1;

  &:before,
  &:after{
    content: " ";
    display: table;
  }
  &:after{ clear: both; }
}


.inquire-form {
	h3 {
		padding: 0 30px;
		text-align: center;
	}
}


.hollow-btn {
	font-size: 0.875rem;
	letter-spacing: 0.1875em;
	color: rgb(10, 85, 146);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	padding: 14px 35px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(21, 100, 165);
	transition: all 0.3s ease-in-out;

	&:hover {
		color: rgb(241, 182, 0);
	    border-image-source: initial;
	    border-image-slice: initial;
	    border-image-width: initial;
	    border-image-outset: initial;
	    border-image-repeat: initial;
	    background: rgb(6, 71, 125);
	    border-width: 2px;
	    border-style: solid;
	    border-color: rgb(6, 71, 125);
    }
}
