#header {
  margin-top: 55px;
  display: block;
  .logo {
    float: left;
  }
  .menu {
    float: right;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        a {
          font-weight: normal;
          font-size: 0.938em;
        }
        float: left;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 30px;
      }
      > li {
        > a {
          background: url(../images/xnav_primary_divider.png.pagespeed.ic.1IuA0og_W2.png) left no-repeat;
          padding: 10px;
          padding-left: 20px;
          margin-left: 10px;
        }
        &:first-child > a {
          background: none;
        }
      }
      .menu-item-has-children {
        background: url(../images/xmenu-arrow.png.pagespeed.ic.yfdCogX_SZ.png) bottom center no-repeat;
      }
      li {
        &:first-child {
          margin-left: 0px;
        }
        &:hover ul {}
        ul {
          position: absolute;
          top: 40px;
          left: 8px;
          padding-left: 0px;
          margin-left: 0px;
          width: 250px;
          padding: 20px;
          border: 1px solid #e8e6e6;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 3px;
          -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 3px;
          background: #fff;
          background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e1e1e1));
          background: -webkit-linear-gradient(#fff, #e1e1e1);
          background: -moz-linear-gradient(#fff, #e1e1e1);
          background: -ms-linear-gradient(#fff, #e1e1e1);
          background: -o-linear-gradient(#fff, #e1e1e1);
          background: linear-gradient(#fff, #e1e1e1);
          z-index: 9000;
          display: none;
        }
      }
    }
  }
}


.global-brookfield-navigation {
  z-index: 9001 !important;
}

#header .menu ul li ul li {
  margin-left: 0px;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 0px;
  width: 100%;
  &:first-child {
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
  }
  a {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }
}

#menu-item-96 .sub-menu {
  left: -50px !important;
  width: 180px !important;
  text-align: right;
}

#main-menu a {
  color: #000;
}