.pad {
  padding: 20px;
}

.pad-top {
  padding-top: 20px;
}

.topmargin {
  margin-top: 60px;
}

.topmargin-sm {
  margin-top: 25px;
}

.topmargin-xsm {
  margin-top: 15px;
}

.bottommargin-sm {
  margin-top: 25px;
}